**/logs
*.log
*/log.txt
config/qbittorrent/qBittorrent/BT_backup/*
config/sonarr/Backups/*
config/jackett/Jackett/log*
config/plex/Library/Application Support/Plex Media Server/Logs/*
config/sonarr/logs*
